body {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; 
}

div {
    display: block;
    text-align: center;
    background: linear-gradient(rgb(129, 2, 2), rgb(244, 200, 119), rgb(129, 2, 2));
    padding: 20px;
    height: auto;
    width: 500px;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 20px black;
}

h2 {
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 20px black;
}

h3 {
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 20px black;
}

h4 {
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 20px black;
}