.white {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 800px;
    height: 420px;
}

.red {
    background-color: rgb(156, 0, 0);
    width: 200px;
    height: 200px;
    display: block;
    margin: 100px auto 0px auto;
    border-radius: 50%;
}