body {
    background: rgb(200, 236, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#pg-el {
    height: 400px;
    width: 400px;
    background: rgb(43, 22, 46);
    border-radius: 20px;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
    box-shadow: 0px 0px 40px 30px goldenrod;
}

.wh-el {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 1px;
}

.gr-el {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(116, 201, 67);
    margin-top: 1px;
    margin-bottom: 20px;
}

.pt-el {
    font-size: 20px;
    color: white;
    font-weight: lighter;
    margin-top: 0px;
}

#gp-btn {
    background: rgb(155, 199, 53);
    color: white;
    text-shadow: 0px 0px 5px black;
    padding: 7px 21px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#gp-btn:hover {
    background: rgb(172, 222, 58);
    cursor: pointer;
}

#generated-passwds-el {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 400px;
    margin-top: 20px;
}

#p1, #p2 {
    height: 30px;
    width: 160px;
    background: rgb(79, 41, 84);
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}