body {
    background: whitesmoke;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    background: rgb(168, 93, 238);
    border-radius: 50px;
    padding: 15px;
    height: fit-content;
    width: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0px 0px 50px 10px rgb(234, 96, 96);
    border: 1.5px solid black;
    margin: 50px 0px;
}

.num-el {
    background: bisque;
    height: 100px;
    width: 500px;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

input {
    width: 100px;
    height: 30px;
    margin: 0px 15px;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    height: 40px;
    width: 100px;
    background: white;
    font-size: 20px;
    border: 0.5px solid black;
    border-radius: 20px;
    font-weight: bolder;
}

button:hover {
    background: rgb(248, 238, 238);
    cursor: pointer;
}